.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.cards {
  font-family: var(--body-font-family-medium);
  flex-basis: 100%;
  margin: 0 auto;
  max-width: 90pc;
}

.cards .card-image {
  flex-basis: 100%;
}

.cards .card-image {
  order: 0;
}

.cards .card-body {
  flex-basis: 100%;
}

.cards .card-body {
  order: 1;
}

.cards .card-image picture img {
  margin: 24px auto;
  display: block;
  max-width: 100%;
  width: 100%;
}

.cards h1 {
  font-size: 40px;
  line-height: 54px;
  color: var(--text-color-black);
  margin: 0 0 1pc;
}

.cards h1 a {
  color: var(--text-color-black);
  text-decoration: none;
}

.cards em {
  font-style: normal;
  font-family: var(--body-font-family-heavy);
  color: var(--text-color-red);
  font-size: 14px;
  line-height: 1pc;
  margin-bottom: 1pc;
}

.card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  padding: 0;
  position: relative;
}

.button-container a {
  background-color: #d30000;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: avenir-heavy,'-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  padding: 9pt 24px;
  text-decoration: none;
}

@media (min-width: 1024px) {

  .cards h1 {
    font-size: 58px;
    line-height: 72px;
  }

  .cards .card-body {
    flex-basis: 40%;
  }

  .cards.card-image-right .card-body {
    order: 0;
  }

  .cards .card-image {
    flex-basis: 60%;
    margin: 20px auto 50px;
    padding: 0;
  }

  .cards.card-image-right .card-image {
    order: 1;
  }

  .cmp-teaser-hero-image-background-1 {
    background: url(/styles/resources/icons/bg-hero-image-background-1.svg) 50% no-repeat;
    background-size: contain;
  }

  .card {
    margin: 40px;
    padding: 0;
  }

  .cards .card-image picture img {
    margin: 24px auto;
    display: block;
    max-width: 100%;
    width: auto;
  }

}
