.content-block {
  flex-basis: 100%;
  margin: 0 auto;
  max-width: 90pc
}

.content-block .cmp-teaser {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  padding: 0;
  position: relative
}

.content-block .cmp-teaser a {
  text-decoration: none;
  color: var(--text-color-black);
}

.content-block .cmp-teaser .cmp-teaser__image {
  flex-basis: 100%;
  order: 0
}

.content-block .cmp-teaser .cmp-teaser__image .cmp-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%
}

.content-block .cmp-teaser .cmp-teaser__content {
  flex-basis: 100%;
  order: 1
}

.content-block.gray-background .cmp-teaser .cmp-teaser__content {
  background-color: #f0f0f0;
}

.content-block .cmp-teaser .cmp-teaser__content em {
  color: #d30000;
  font-size: 14px;
  line-height: 1pc;
  margin-bottom: 1pc;
  font-style: normal;
}

.content-block .cmp-teaser .cmp-teaser__content em {
  font-family: var(--body-font-family-heavy);
}

.content-block .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  color: #000;
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 1pc
}

.content-block .cmp-teaser .cmp-teaser__content .cmp-teaser__title .cmp-teaser__title-link {
  color: #000;
  text-decoration: none
}

.content-block .cmp-teaser .cmp-teaser__content h2 {
  color: #000;
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 1pc;
  text-align: left;
}

.content-block .cmp-teaser .cmp-teaser__content p {
  color: #000;
  font-family: var(--body-font-family-medium);
  font-size: 1pc;
  line-height: 1.5;
  margin: 0 0 24px
}

.content-block .cmp-teaser .cmp-teaser__content .content-block h1,
.content-block .cmp-teaser .cmp-teaser__content .content-block h2,
.content-block .cmp-teaser .cmp-teaser__content .content-block h3,
.content-block .cmp-teaser .cmp-teaser__content .content-block h4,
.content-block .cmp-teaser .cmp-teaser__content .content-block h5,
.content-block .cmp-teaser .cmp-teaser__content .content-block h6 {
  font-family: var(--body-font-family-heavy);
}

.content-block .cmp-teaser .cmp-teaser__content .content-block li,
.content-block .cmp-teaser .cmp-teaser__content .content-block ul {
  color: #000;
  font-family: var(--body-font-family-medium);
  font-size: 1pc;
  line-height: 1.5
}

.content-block .button-container a {
  background-color: #d30000;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: var(--body-font-family-heavy);;
  padding: 9pt 24px;
  text-decoration: none
}

@media(min-width:1024px) {
  .content-block .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .content-block .cmp-teaser .cmp-teaser__image {
      flex-basis: 50%;
      margin: 0;
      padding: 0
  }

  .content-block .cmp-teaser .cmp-teaser__image .cmp-image img {
      width: auto
  }

  .content-block .cmp-teaser .cmp-teaser__content {
      flex-basis: 50%
  }

  .content-block .cmp-teaser .cmp-teaser__content h2 {
    text-align: left;
    font-size: 34px;
    line-height: 46px;    
    width: 75%;
  }

  .content-block .cmp-teaser .cmp-teaser__content p {
  }

}

.content-block.cmp-teaser--hero-background-color-gray,
.content-block.cmp-teaser--hero-background-color-gray .cmp-teaser .cmp-teaser__content,
.content-block.cmp-teaser--hero-background-color-gray .cmp-teaser .cmp-teaser__image {
  background-color: #f0f0f0
}

@media(min-width:1024px) {
  .content-block.cmp-teaser--hero-background-color-gray {
      background-color: transparent
  }
}

.content-block.cmp-teaser--hero-background-color-white,
.content-block.cmp-teaser--hero-background-color-white .cmp-teaser .cmp-teaser__content,
.content-block.cmp-teaser--hero-background-color-white .cmp-teaser .cmp-teaser__image {
  background-color: #fff
}

@media(min-width:1024px) {
  .content-block.cmp-teaser--hero-background-color-white {
      background-color: transparent
  }
}

.content-block.cmp-teaser-image-background-horn-leaf-rectangle {
  background-image: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-rectangle-black-left.svg), url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-leaf-red-black-solid-outline-right.svg);
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-horn-leaf-rectangle {
      background-image: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-horn-black-left.svg), url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-leaf-rectangle-red-black-solid-right.svg);
      background-position: 0 100%, 100% 100%;
      background-repeat: no-repeat, no-repeat
  }

  .content-block.cmp-teaser-image-background-1 .cmp-teaser .cmp-teaser__image {
      background: url(/styles/resources/icons/bg-hero-image-background-1.svg) 50% no-repeat;
      background-size: contain
  }

  .content-block.cmp-teaser-image-background-2 .cmp-teaser .cmp-teaser__image {
      background: url(/styles/resources/icons/bg-hero-image-background-2.svg) 50% no-repeat;
      background-size: contain
  }

  .content-block.cmp-teaser-image-background-3 .cmp-teaser .cmp-teaser__image {
      background: url(/styles/resources/icons/bg-hero-image-background-3.svg) 50% no-repeat;
      background-size: contain
  }

  .content-block.cmp-teaser-image-background-4 .cmp-teaser .cmp-teaser__image {
      background: url(/styles/resources/icons/bg-hero-image-background-4.svg) 50% no-repeat;
      background-size: contain
  }
}

.content-block.cmp-teaser-image-background-5 .cmp-teaser .cmp-teaser__image {
  text-align: center
}

.content-block.cmp-teaser-image-background-5 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-5.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - 3pc) calc(100% - 3pc);
  margin: 24px;
  padding: 24px
}

.content-block.cmp-teaser-image-background-6 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-6.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-6 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: auto
  }
}

.content-block.cmp-teaser-image-background-7 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-7.svg) 0 no-repeat;
  background-size: auto;
  padding: 3pc
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-7 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: auto
  }
}

.content-block.cmp-teaser-image-background-8 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-8.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-8 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }
}

.content-block.cmp-teaser-image-background-9 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-9.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-9 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }
}

.content-block.cmp-teaser-image-background-10 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(/styles/resources/icons/bg-hero-image-background-10.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .content-block.cmp-teaser-image-background-10 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }

  .content-block.hero-image-left .cmp-teaser .cmp-teaser__image {
      order: 0
  }

  .content-block.hero-image-left .cmp-teaser .cmp-teaser__content,
  .content-block.hero-image-right .cmp-teaser .cmp-teaser__image {
      order: 1
  }

  .content-block.hero-image-right .cmp-teaser .cmp-teaser__content {
      order: 0
  }
}

.content-block.hero .cmp-teaser {
  margin: 24px 1pc
}

.content-block.hero .cmp-teaser .cmp-teaser__image .cmp-image img {
  margin: 24px auto
}

.content-block.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .content-block.hero .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .content-block.hero .cmp-teaser .cmp-teaser__image {
      flex-basis: 60%;
      margin: 20px auto 50px
  }

  .content-block.hero .cmp-teaser .cmp-teaser__content {
      flex-basis: 40%
  }

  .content-block.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-page .cmp-teaser .cmp-teaser__image .cmp-image img {
  margin: 24px auto
}

.cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-page .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__image {
      flex-basis: 50%;
      margin: 50px auto
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content {
      flex-basis: 50%
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content {
  margin: 0 auto 50px;
  text-align: center
}

.cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-subpage .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content {
      flex-basis: 67%;
      margin: 5pc auto
  }

  .cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image {
  margin-bottom: 24px
}

.cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image .cmp-image {
  padding: 24px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-image {
      padding: 0
  }

  .cmp-teaser--hero-image .cmp-teaser {
      align-items: center
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image {
      margin: 0
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      padding: 0 72px;
      width: 75%
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__action-container,
  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__description {
      padding: 0 72px
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-background-color-gray .cmp-teaser {
      background-color: #f0f0f0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-background-color-white .cmp-teaser {
      background-color: #fff
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-1 .cmp-teaser .cmp-teaser__content {
      padding: 0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-2 .cmp-teaser .cmp-teaser__content {
      padding: 72px 0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-3 .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }
}

.cmp-teaser--hero-image-background .cmp-teaser {
  background-color: #f0f0f0;
  margin: 0
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__image {
  height: 100%;
  position: absolute;
  width: 100%
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__image .cmp-image img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content {
  margin: 24px;
  padding: 24px;
  z-index: 1
}

@media(min-width:1024px) {
  .cmp-teaser--hero-image-background .cmp-teaser {
      background-color: transparent;
      margin: 40px
  }

  .cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content {
      margin: 40px auto;
      max-width: 40pc;
      padding: 4pc
  }

  .cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 40px;
      line-height: 54px
  }
}

.cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image img {
  margin: 0 0 24px;
  width: 100%
}

@media(min-width:1024px) {
  .content-block.hero-image-fill .cmp-teaser {
      align-items: stretch
  }

  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image {
      height: 100%;
      position: relative;
      width: 100%
  }

  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image img {
      height: 100%;
      margin: 0;
      object-fit: cover;
      position: absolute;
      width: 100%
  }

  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }

  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__content .button-container,
  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__content p,
  .content-block.hero-image-fill .cmp-teaser .cmp-teaser__content h2 {
      padding: 0 72px
  }
}