.hero {
  flex-basis: 100%;
  margin: 0 auto;
  max-width: 90pc
}

.hero .cmp-teaser {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  padding: 0;
  position: relative
}

.hero .cmp-teaser .cmp-teaser__image {
  flex-basis: 100%;
  order: 0
}

.hero .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%
}

.hero .cmp-teaser .cmp-teaser__content {
  flex-basis: 100%;
  order: 1
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle {
  color: #d30000;
  font-size: 14px;
  line-height: 1pc;
  margin-bottom: 1pc
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-family: avenir-heavy, '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  color: #000;
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 1pc
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title .cmp-teaser__title-link {
  color: #000;
  text-decoration: none
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description p {
  color: #000;
  font-family: avenir-medium, '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  font-size: 1pc;
  line-height: 1.5;
  margin: 0 0 24px
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h1,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h2,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h3,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h4,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h5,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description h6 {
  color: #d30000;
  font-family: avenir-heavy, '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description li,
.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__description ul {
  color: #000;
  font-family: avenir-medium, '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  font-size: 1pc;
  line-height: 1.5
}

.hero .cmp-teaser .cmp-teaser__content .cmp-teaser__action-container .cmp-teaser__action-link {
  background-color: #d30000;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: avenir-heavy, '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  padding: 9pt 24px;
  text-decoration: none
}

@media(min-width:1024px) {
  .hero .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .hero .cmp-teaser .cmp-teaser__image {
      flex-basis: 50%;
      margin: 0;
      padding: 0
  }

  .hero .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
      width: auto
  }

  .hero .cmp-teaser .cmp-teaser__content {
      flex-basis: 50%
  }

  .hero .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 34px;
      line-height: 46px
  }
}

.hero.cmp-teaser--hero-background-color-gray,
.hero.cmp-teaser--hero-background-color-gray .cmp-teaser .cmp-teaser__content,
.hero.cmp-teaser--hero-background-color-gray .cmp-teaser .cmp-teaser__image {
  background-color: #f0f0f0
}

@media(min-width:1024px) {
  .hero.cmp-teaser--hero-background-color-gray {
      background-color: transparent
  }
}

.hero.cmp-teaser--hero-background-color-white,
.hero.cmp-teaser--hero-background-color-white .cmp-teaser .cmp-teaser__content,
.hero.cmp-teaser--hero-background-color-white .cmp-teaser .cmp-teaser__image {
  background-color: #fff
}

@media(min-width:1024px) {
  .hero.cmp-teaser--hero-background-color-white {
      background-color: transparent
  }
}

.hero.cmp-teaser--hero-background-horn-leaf-rectangle {
  background-image: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-rectangle-black-left.svg), url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-leaf-red-black-solid-outline-right.svg);
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat
}

@media(min-width:1024px) {
  .hero.cmp-teaser--hero-background-horn-leaf-rectangle {
      background-image: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-horn-black-left.svg), url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/icons/icon-leaf-rectangle-red-black-solid-right.svg);
      background-position: 0 100%, 100% 100%;
      background-repeat: no-repeat, no-repeat
  }

  .hero.cmp-teaser-hero-image-background-1 .cmp-teaser .cmp-teaser__image {
      background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-1.svg) 50% no-repeat;
      background-size: contain
  }

  .hero.cmp-teaser-hero-image-background-2 .cmp-teaser .cmp-teaser__image {
      background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-2.svg) 50% no-repeat;
      background-size: contain
  }

  .hero.cmp-teaser-hero-image-background-3 .cmp-teaser .cmp-teaser__image {
      background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-3.svg) 50% no-repeat;
      background-size: contain
  }

  .hero.cmp-teaser-hero-image-background-4 .cmp-teaser .cmp-teaser__image {
      background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-4.svg) 50% no-repeat;
      background-size: contain
  }
}

.hero.cmp-teaser-hero-image-background-5 .cmp-teaser .cmp-teaser__image {
  text-align: center
}

.hero.cmp-teaser-hero-image-background-5 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-5.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - 3pc) calc(100% - 3pc);
  margin: 24px;
  padding: 24px
}

.hero.cmp-teaser-hero-image-background-6 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-6.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .hero.cmp-teaser-hero-image-background-6 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: auto
  }
}

.hero.cmp-teaser-hero-image-background-7 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-7.svg) 0 no-repeat;
  background-size: auto;
  padding: 3pc
}

@media(min-width:1024px) {
  .hero.cmp-teaser-hero-image-background-7 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: auto
  }
}

.hero.cmp-teaser-hero-image-background-8 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-8.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .hero.cmp-teaser-hero-image-background-8 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }
}

.hero.cmp-teaser-hero-image-background-9 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-9.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .hero.cmp-teaser-hero-image-background-9 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }
}

.hero.cmp-teaser-hero-image-background-10 .cmp-teaser .cmp-teaser__image .cmp-image {
  background: url(../../../../etc.clientlibs/fsnr/clientlibs/clientlib-assets/v1/resources/images/bg-hero-image-background-10.svg) 50% no-repeat;
  background-size: contain;
  padding: 3pc
}

@media(min-width:1024px) {
  .hero.cmp-teaser-hero-image-background-10 .cmp-teaser .cmp-teaser__image .cmp-image {
      background-size: contain
  }

  .hero.cmp-teaser--hero-image-left .cmp-teaser .cmp-teaser__image {
      order: 0
  }

  .hero.cmp-teaser--hero-image-left .cmp-teaser .cmp-teaser__content,
  .hero.cmp-teaser--hero-image-right .cmp-teaser .cmp-teaser__image {
      order: 1
  }

  .hero.cmp-teaser--hero-image-right .cmp-teaser .cmp-teaser__content {
      order: 0
  }
}

.cmp-teaser--hero-main .cmp-teaser {
  margin: 24px 1pc
}

.cmp-teaser--hero-main .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
  margin: 24px auto
}

.cmp-teaser--hero-main .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-main .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .cmp-teaser--hero-main .cmp-teaser .cmp-teaser__image {
      flex-basis: 60%;
      margin: 20px auto 50px
  }

  .cmp-teaser--hero-main .cmp-teaser .cmp-teaser__content {
      flex-basis: 40%
  }

  .cmp-teaser--hero-main .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-page .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
  margin: 24px auto
}

.cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-page .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__image {
      flex-basis: 50%;
      margin: 50px auto
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content {
      flex-basis: 50%
  }

  .cmp-teaser--hero-page .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content {
  margin: 0 auto 50px;
  text-align: center
}

.cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
  font-size: 40px;
  line-height: 54px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-subpage .cmp-teaser {
      margin: 40px;
      padding: 0
  }

  .cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content {
      flex-basis: 67%;
      margin: 5pc auto
  }

  .cmp-teaser--hero-subpage .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 58px;
      line-height: 72px
  }
}

.cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image {
  margin-bottom: 24px
}

.cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image .cmp-image {
  padding: 24px
}

@media(min-width:1024px) {
  .cmp-teaser--hero-image {
      padding: 0
  }

  .cmp-teaser--hero-image .cmp-teaser {
      align-items: center
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__image {
      margin: 0
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      padding: 0 72px;
      width: 75%
  }

  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__action-container,
  .cmp-teaser--hero-image .cmp-teaser .cmp-teaser__content .cmp-teaser__description {
      padding: 0 72px
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-background-color-gray .cmp-teaser {
      background-color: #f0f0f0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-background-color-white .cmp-teaser {
      background-color: #fff
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-1 .cmp-teaser .cmp-teaser__content {
      padding: 0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-2 .cmp-teaser .cmp-teaser__content {
      padding: 72px 0
  }

  .cmp-teaser--hero-image.cmp-teaser--hero-height-3 .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }
}

.cmp-teaser--hero-image-background .cmp-teaser {
  background-color: #f0f0f0;
  margin: 0
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__image {
  height: 100%;
  position: absolute;
  width: 100%
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%
}

.cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content {
  margin: 24px;
  padding: 24px;
  z-index: 1
}

@media(min-width:1024px) {
  .cmp-teaser--hero-image-background .cmp-teaser {
      background-color: transparent;
      margin: 40px
  }

  .cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content {
      margin: 40px auto;
      max-width: 40pc;
      padding: 4pc
  }

  .cmp-teaser--hero-image-background .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      font-size: 40px;
      line-height: 54px
  }
}

.cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
  margin: 0 0 24px;
  width: 100%
}

@media(min-width:1024px) {
  .cmp-teaser--hero-image-fill .cmp-teaser {
      align-items: stretch
  }

  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image {
      height: 100%;
      position: relative;
      width: 100%
  }

  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__image .cmp-image .cmp-image__image {
      height: 100%;
      margin: 0;
      object-fit: cover;
      position: absolute;
      width: 100%
  }

  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__content {
      padding: 9pc 0
  }

  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__content .cmp-teaser__action-container,
  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__content .cmp-teaser__description,
  .cmp-teaser--hero-image-fill .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
      padding: 0 72px
  }
}