.footer {
  background-color: #000;
}
.footer .cmp-footer {
  margin: 0 auto;
  max-width: 90pc;
  padding: 20px;
}
.footer .cmp-footer .cmp-footer__logo {
  margin: 0 auto 20px;
  text-align: center;
}
.footer .cmp-footer .cmp-footer__links .cmp-simple-list {
  border-bottom: 1px solid #eee;
  list-style: none;
  margin: 0 0 1pc;
  padding: 0 0 1pc;
}
.footer .cmp-footer .cmp-footer__links .cmp-simple-list .cmp-simple-list__item {
  margin: 0 0 24px;
  padding: 0;
  text-align: center;
}
.footer
  .cmp-footer
  .cmp-footer__links
  .cmp-simple-list
  .cmp-simple-list__item:last-child {
  margin-bottom: 0;
}
.footer
  .cmp-footer
  .cmp-footer__links
  .cmp-simple-list
  .cmp-simple-list__item
  .cmp-simple-list__item-link {
  color: #fff;
  font-family: avenir-heavy,
      '-apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  text-decoration: none;
}
.footer
  .cmp-footer
  .cmp-footer__links
  .cmp-simple-list
  .cmp-simple-list__item
  .cmp-simple-list__item-link:hover {
  opacity: 0.7;
}
.footer .cmp-footer .cmp-footer__links .cmp-text p {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer .cmp-footer {
      display: flex;
      padding: 40px;
  }
  .footer .cmp-footer .cmp-footer__logo {
      margin: 0;
  }
  .footer .cmp-footer .cmp-footer__links {
      flex-grow: 1;
  }
  .footer .cmp-footer .cmp-footer__links .cmp-simple-list {
      margin: 0 0 8px 1pc;
      padding: 0 0 8px;
      text-align: right;
  }
  .footer
      .cmp-footer
      .cmp-footer__links
      .cmp-simple-list
      .cmp-simple-list__item {
      display: inline-block;
      margin: 0 8px;
      padding: 0 8px;
      text-align: right;
  }
  .footer
      .cmp-footer
      .cmp-footer__links
      .cmp-simple-list
      .cmp-simple-list__item:last-child {
      margin-right: 0;
      padding-right: 0;
  }
  .footer .cmp-footer .cmp-footer__links .cmp-text p {
      text-align: right;
  }
}
